body{
    background-color: aqua;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
/* heading styling */
h1{
    text-shadow:-5px -18px 2px #8686b1;
    text-align: center;
}
h2{
    color:white;
}
#vt{
    font-size: 20px;
    font-weight:bolder;
    }
/* input text tag css */
.input{
    padding: 10px;
    margin: 20px;
}
#in{
    padding: 12px 28px;
    margin: 15px;
    }
#btn{
   padding: 10px 37px;
   font-size: 18px;
   background-color:whitesmoke;
   font-family: inherit;
   font-weight: 500;
   border: none;
}
/* cardContainer start */
.cardContainer{
    width:451px;
    height: auto;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
    padding: 11px;
    
}
.cardContainer{
    border: double 1px transparent;
    border-radius: 10px;
    background-image: 
    linear-gradient(#1d2a3a,#1d2a3a),
    linear-gradient(to right, #d78eca,#98a3fb);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

img{
    border-radius: 50px;
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
   height: 50%;
   padding: 12px;
   }
/* button start */
button{
    padding: 18px 31px;
    margin: 7px;
    border: 2px solid #17C3B2;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 16px;
 transition: .3s;
 z-index: 1;
 font-family: inherit;
 color: #17C3B2;
}
button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
